.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Cerebrisans, Arial, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Cerebrisans, Arial, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

a {
  color: #000;
  text-decoration: none;
}

.cta-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(99, 113, 120, 0.13);
  background-color: #228dff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.top-nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta-top {
  color: hsla(0, 0%, 100%, 0.93);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-container-mob {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-mobile {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-height: 120px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.navigation-left {
  display: block;
  height: auto;
  max-width: none;
  min-height: 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.navigation-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
}

.navigation-wrap {
  display: block;
  font-size: 16px;
}

.nav-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.nav-menu:hover {
  color: #228dff;
}

.keboola-logo {
  width: 130px;
  min-width: 130px;
  margin-right: 40px;
}

.dropdown-link-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 22px 16px;
  color: #283338;
  font-size: 16px;
  text-decoration: none;
}

.dropdown-link-mobile:hover {
  background-color: #f8faff;
}

.navigation {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.dropdown {
  display: block;
}

.body {
  display: block;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  color: #000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.hiringbadge {
  padding-left: 10px;
}

.navbar {
  background-color: transparent;
}

.mycontainter-light-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1200px;
  min-height: 654px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

.hero-sectionhp {
  max-width: 1680px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  padding: 0px 30px;
  background-image: url('../images/heroPic.jpg');
  background-position: 50% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.intro {
  max-width: 45%;
}

.paragraph {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  color: #000;
  font-size: 21px;
  line-height: 34px;
  font-weight: 400;
}

.learn-more-link {
  padding-right: 0px;
  color: #228dff;
  font-size: 18px;
  line-height: 44px;
  font-weight: 600;
  text-decoration: none;
}

.learn-more-link:hover {
  text-decoration: underline;
}

.learn-more-light {
  margin-left: 30px;
  float: left;
}

.button {
  max-height: 60px;
  margin-right: 33%;
  margin-left: auto;
  padding: 15px 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 4px;
  background-color: #228dff;
  font-size: 18px;
}

.textcta-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.cta-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.cta-light {
  padding: 15px 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.icon-arrow {
  width: auto;
  padding-bottom: 5px;
  padding-left: 20px;
}

.sectionproductfeature {
  margin-bottom: 80px;
  padding-right: 30px;
  padding-left: 30px;
}

.block-text {
  width: auto;
  margin-top: 0px;
  color: rgba(35, 49, 65, 0.7);
  line-height: 28px;
}

.intro-dark {
  max-width: 100%;
}

.headingfooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

.heading-2-dark-regular {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 44px;
  line-height: 56px;
  font-weight: 400;
}

.containerlight {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px none #e4f1ff;
}

.image-4 {
  display: block;
  margin-left: auto;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-div {
  display: block;
  max-width: none;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.divider-inner {
  border-bottom: 2px solid rgba(175, 196, 215, 0.5);
}

.divider {
  margin-bottom: 80px;
  padding-right: 20px;
  padding-left: 30px;
}

.footer {
  padding: 80px 50px 40px;
  background-color: #f7f7f9;
}

.dark-div-1600 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  min-height: 240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #071729;
}

.grid-4 {
  max-width: 1200px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 60px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-5 {
  max-width: 1200px;
  grid-column-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.headingfooter-div {
  width: 55%;
}

.footerheader {
  color: #7f8198;
  font-size: 16px;
  letter-spacing: 2px;
  text-indent: 0px;
}

.list {
  margin-top: 20px;
  font-size: 16px;
  line-height: 18px;
}

.link-block {
  padding-right: 40px;
}

.link-block.w--current {
  color: #228dff;
}

.link-block.w--current:hover {
  color: #228dff;
}

.mycontainer-light-copy {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px none #e4f1ff;
}

.mycontainter-footer-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
}

.terms-of-use {
  padding-top: 0px;
}

.text-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  color: #272837;
  font-size: 13px;
  text-align: left;
}

.followuslinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer-cta {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f7f9;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.footeritem {
  padding-bottom: 20px;
}

.h1-hero {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #228dff;
  font-size: 48px;
  line-height: 60px;
  font-weight: 400;
}

.containerlightflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sectionlightblue {
  display: block;
  margin-bottom: 80px;
  padding-right: 30px;
  padding-left: 30px;
}

.text {
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.scaffold-grid-blocks {
  display: -ms-grid;
  display: grid;
  max-width: 1200px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  justify-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-12 {
  min-width: auto;
  margin-bottom: 50px;
}

.image-13 {
  min-width: auto;
  margin-bottom: 50px;
}

.headlinescaffold {
  max-width: 60%;
  padding-bottom: 15px;
  font-size: 26px;
  line-height: 36px;
}

.image-14 {
  min-width: auto;
  margin-bottom: 50px;
}

.dropshadowbox {
  display: block;
  padding: 32px;
  background-color: #fff;
  -webkit-transition: box-shadow 500ms ease;
  transition: box-shadow 500ms ease;
}

.dropshadowbox:hover {
  box-shadow: 0 30px 40px 0 rgba(3, 32, 64, 0.15);
}

.small-divider {
  position: relative;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid none none;
  border-width: 2px;
  border-color: #eaf0f6 #000 #000;
  color: #000;
}

.small-divider:hover {
  opacity: 1;
  color: #fff;
}

.container1440lightblue {
  display: block;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 30px;
  background-color: #f4f7fa;
}

.smallheadline {
  margin-bottom: 0px;
  color: #afc4d7;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.section {
  margin-bottom: 80px;
  padding-right: 30px;
  padding-left: 30px;
}

.grid-news {
  margin-top: 0px;
  grid-column-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.blognewsblue {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #228dff;
}

.heading-3-dark {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
}

.headlineblog {
  display: inline-block;
  margin-bottom: 20px;
  color: #fff;
  font-size: 26px;
  line-height: 36px;
  font-weight: 400;
}

.linknews {
  color: #fff;
  font-weight: 600;
}

.blognewsimg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #228dff;
  background-image: url('../images/back1.png');
  background-position: 50% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.sectionnews {
  display: block;
  margin-bottom: 80px;
  padding-right: 30px;
  padding-left: 30px;
}

.div-1200-20px {
  height: auto;
  max-width: 1200px;
  min-height: 20px;
  margin-right: auto;
  margin-left: auto;
}

.div-1200-32px {
  height: auto;
  max-width: 1200px;
  min-height: 32px;
  margin-right: auto;
  margin-left: auto;
}

.div-1200-40px {
  height: auto;
  max-width: 1200px;
  min-height: 40px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-48 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button20 {
  max-height: 60px;
  padding: 15px 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 4px;
  background-color: #228dff;
  font-size: 20px;
  font-weight: 600;
}

.div-block-49 {
  position: relative;
  top: -193px;
  right: 211px;
  display: block;
  width: 50px;
  height: 50px;
  float: right;
  clear: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: url('../images/yellow3.svg');
  background-position: 0px 0px;
  background-size: 125px;
}

.smallheadlineblue {
  margin-bottom: 0px;
  color: #228dff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.listitem3 {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-image: url('../images/3.svg');
  background-position: 0% 50%;
  background-size: 24px;
  background-repeat: no-repeat;
  font-size: 24px;
  line-height: 30px;
}

.list-2 {
  padding-left: 0px;
  list-style-type: none;
}

.listitem1 {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-image: url('../images/1.svg');
  background-position: 0% 50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
}

.listitem2 {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-image: url('../images/2.svg');
  background-position: 0% 50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  font-size: 24px;
  line-height: 30px;
}

.link-inline {
  color: #228dff;
  text-decoration: underline;
}

.link {
  color: #fff;
}

.link:hover {
  text-decoration: underline;
}

.linksocialfooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.containeryellow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 40px 20px 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px none #e4f1ff;
  border-radius: 4px;
  background-color: #ffe500;
}

.link-2 {
  text-decoration: underline;
}

.image-17 {
  padding-right: 30px;
}

.small-divider-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  margin-top: 20px;
  padding-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  border-style: solid none none;
  border-width: 2px;
  border-color: rgba(175, 196, 215, 0.6) #000 #000;
  color: #000;
}

.small-divider-2:hover {
  opacity: 1;
  color: #fff;
}

.scaffoldlink {
  margin-right: 20px;
  color: #afc4d7;
  font-size: 16px;
  font-weight: 600;
}

.link-3 {
  color: #afc4d7;
}

@media screen and (max-width: 991px) {
  .top-nav-container {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .cta-top {
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
  }
  .navigation-container-mob {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .navigation-mobile {
    position: relative;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 85px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid rgba(68, 85, 103, 0.11);
  }
  .menu-mob {
    display: block;
    margin-right: -15px;
    padding: 15px;
    border-radius: 100px;
    background-color: transparent;
    color: #000;
    font-size: 22px;
  }
  .menu-mob.w--open {
    background-color: #228dff;
  }
  .navigation-wrap {
    background-color: #fff;
  }
  .nav-menu {
    display: block;
  }
  .mobile-nav {
    padding-top: 0px;
    background-color: #fff;
    box-shadow: 42px 42px 55px 0 rgba(32, 53, 90, 0.09);
  }
  .keboola-logo {
    display: inline-block;
  }
  .dropdown-link-mobile {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navigation {
    padding-right: 0px;
    padding-left: 0px;
  }
  .icon-5 {
    font-size: 22px;
    font-style: normal;
    text-decoration: none;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .hiringbadge {
    margin-left: 10px;
    padding-left: 0px;
  }
  .mycontainter-light-flex {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .hero-sectionhp {
    background-image: url('../images/heroNarrow.jpg');
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .brand-2 {
    margin-right: auto;
  }
  .intro {
    max-width: 50%;
  }
  .paragraph {
    font-size: 18px;
    line-height: 26px;
  }
  .button {
    margin-right: 0%;
  }
  .textcta-div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .cta-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .cta-light {
    display: inline-block;
    min-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
  .sectionproductfeature {
    margin-bottom: 20px;
  }
  .headingfooter {
    font-size: 30px;
  }
  .heading-2-dark-regular {
    font-size: 28px;
    line-height: 40px;
  }
  .containerlight {
    margin-bottom: 50px;
  }
  .image-4 {
    margin-right: 0px;
    margin-left: 0px;
    float: none;
    clear: none;
  }
  .div-block-15 {
    position: static;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .img-div {
    position: static;
    margin-bottom: 0px;
  }
  .divider {
    margin-bottom: 60px;
  }
  .footer {
    padding-top: 40px;
  }
  .dark-div-1600 {
    min-height: 220px;
  }
  .grid-4 {
    grid-column-gap: 20px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .grid-5 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .mycontainter-footer-cta {
    padding-left: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .h1-hero {
    font-size: 40px;
    line-height: 54px;
  }
  .sectionlightblue {
    margin-bottom: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .scaffold-grid-blocks {
    margin-top: 20px;
    grid-column-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .small-divider {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 16px;
  }
  .container1440lightblue {
    padding: 40px 30px;
  }
  .smallheadline {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .section {
    margin-bottom: 20px;
  }
  .grid-news {
    grid-column-gap: 20px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .blognewsblue {
    min-height: 300px;
    padding: 25px;
  }
  .heading-3-dark {
    font-size: 28px;
  }
  .headlineblog {
    font-size: 20px;
    line-height: 28px;
  }
  .blognewsimg {
    min-height: 300px;
    padding: 25px;
  }
  .sectionnews {
    margin-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .div-1200-40px {
    min-height: 32px;
  }
  .div-block-49 {
    display: none;
  }
  .smallheadlineblue {
    font-size: 16px;
  }
  .listitem3 {
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .listitem1 {
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .listitem2 {
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .containeryellow {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  .brand-3 {
    width: 130px;
  }
  .brand-3.w--current {
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .cta-banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-menu {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .hiringbadge {
    margin-left: 0px;
    padding-left: 0px;
  }
  .mycontainter-light-flex {
    min-height: auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: transparent;
  }
  .hero-sectionhp {
    margin-bottom: 0px;
    padding-bottom: 30px;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
  }
  .brand-2.w--current {
    padding-left: 0px;
  }
  .intro {
    display: block;
    max-width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .paragraph {
    padding-left: 0px;
    font-size: 20px;
    line-height: 30px;
  }
  .learn-more-light {
    margin-top: 10px;
    margin-left: 0px;
  }
  .textcta-div {
    display: block;
  }
  .cta-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 100%;
    margin-right: 0px;
    margin-left: auto;
    padding-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-items: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .cta-light {
    display: inline-block;
    width: auto;
    max-width: none;
    min-width: 40%;
    margin-right: auto;
    margin-left: 0px;
    padding: 10px 15px;
    font-size: 18px;
    text-align: center;
  }
  .sectionproductfeature {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .block-text {
    font-size: 16px;
  }
  .headingfooter {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 38px;
  }
  .heading-2-dark-regular {
    margin-top: 10px;
    font-size: 28px;
    line-height: 34px;
  }
  .containerlight {
    margin-bottom: 30px;
    padding-top: 0px;
  }
  .divider {
    margin-bottom: 60px;
    padding-right: 30px;
  }
  .footer {
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .dark-div-1600 {
    min-height: 200px;
  }
  .grid-4 {
    grid-auto-flow: row;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .grid-5 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .headingfooter-div {
    width: 100%;
  }
  .link-block {
    display: none;
  }
  .mycontainter-footer-cta {
    background-color: transparent;
  }
  .footeritem {
    padding-bottom: 15px;
  }
  .h1-hero {
    font-size: 34px;
    line-height: 44px;
  }
  .containerlightflex {
    display: block;
  }
  .sectionlightblue {
    padding-right: 0px;
    padding-left: 0px;
  }
  .headlinescaffold {
    max-width: 100%;
    font-size: 24px;
    line-height: 32px;
  }
  .smallheadline {
    margin-right: auto;
    margin-bottom: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .section {
    margin-bottom: 50px;
  }
  .grid-news {
    grid-column-gap: 40px;
    grid-row-gap: 32px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .heading-3-dark {
    font-size: 24px;
    line-height: 36px;
  }
  .headlineblog {
    font-size: 24px;
    line-height: 34px;
  }
  .blognewsimg {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-size: cover;
  }
  .sectionnews {
    margin-bottom: 40px;
    padding-top: 15px;
    padding-bottom: 0px;
  }
  .div-block-48 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .smallheadlineblue {
    margin-right: auto;
    margin-bottom: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .listitem3 {
    padding-bottom: 0px;
    font-size: 20px;
  }
  .listitem1 {
    padding-bottom: 0px;
    font-size: 20px;
  }
  .listitem2 {
    padding-bottom: 0px;
    font-size: 20px;
  }
  .containeryellow {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .cta-top {
    font-size: 14px;
    line-height: 20px;
  }
  .navigation-container {
    min-height: 90px;
  }
  .navigation-wrap {
    background-color: #fff;
  }
  .keboola-logo {
    display: inline-block;
  }
  .dropdown-link-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-color: #e4f1ff;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .dropdown-link-mobile:hover {
    background-color: #228dff;
  }
  .hiringbadge {
    padding-left: 0px;
  }
  .mycontainter-light-flex {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .brand-2 {
    margin-right: auto;
  }
  .brand-2.w--current {
    margin-right: 0px;
  }
  .intro {
    max-width: 100%;
  }
  .paragraph {
    font-size: 20px;
    line-height: 32px;
  }
  .learn-more-link {
    font-size: 18px;
    line-height: 24px;
  }
  .button {
    display: none;
  }
  .cta-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-auto-flow: row;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .cta-light {
    display: block;
    max-width: none;
    min-width: 80%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: 0px;
    padding: 10px 15px;
    line-height: 24px;
    text-align: center;
  }
  .headingfooter {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }
  .heading-2-dark-regular {
    margin-bottom: 0px;
    font-size: 28px;
    line-height: 38px;
  }
  .divider {
    margin-bottom: 40px;
  }
  .footer {
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .dark-div-1600 {
    min-height: 240px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .grid-5 {
    grid-column-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .h1-hero {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 38px;
  }
  .sectionlightblue {
    padding-right: 0px;
    padding-left: 0px;
  }
  .image-12 {
    margin-bottom: 20px;
  }
  .image-13 {
    margin-bottom: 20px;
  }
  .headlinescaffold {
    width: 60%;
    padding-bottom: 10px;
    font-size: 22px;
  }
  .image-14 {
    margin-bottom: 20px;
  }
  .smallheadline {
    font-size: 14px;
    line-height: 20px;
  }
  .grid-news {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .blognewsblue {
    padding-right: 20px;
    padding-left: 20px;
  }
  .heading-3-dark {
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 0px;
  }
  .headlineblog {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .blognewsimg {
    min-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .sectionnews {
    margin-bottom: 0px;
  }
  .div-1200-20px {
    display: block;
    max-width: 100%;
  }
  .div-1200-32px {
    min-height: 20px;
  }
  .div-1200-40px {
    min-height: 20px;
  }
  .button20 {
    font-size: 18px;
  }
  .smallheadlineblue {
    font-size: 14px;
    line-height: 20px;
  }
  .listitem3 {
    font-size: 18px;
  }
  .listitem1 {
    font-size: 18px;
  }
  .listitem2 {
    font-size: 18px;
  }
  .containeryellow {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .brand-3.w--current {
    padding-left: 0px;
  }
  .image-17 {
    padding-bottom: 10px;
  }
}

#w-node-0885b6ddd4b9-29b92528 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-0885b6ddd4c6-29b92528 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-a451f4c8cf1c-29b92528 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-77080810547a-29b92528 {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  #w-node-a451f4c8cf1c-29b92528 {
    -ms-grid-column-align: end;
    justify-self: end;
  }
  #w-node-f7621a11bd03-1a11bcbd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-77080810547a-29b92528 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
}

@font-face {
  font-family: 'Cerebrisans';
  src: url('../fonts/CerebriSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Cerebrisans';
  src: url('../fonts/CerebriSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Cerebrisans';
  src: url('../fonts/CerebriSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Cerebrisans';
  src: url('../fonts/CerebriSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Cerebrisans';
  src: url('../fonts/CerebriSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}