<div class="article-list article-list-four"><div class="in">
	<div class="item-desc">
		<p class="p-perex">{{ section.subheadline }}</p>
		<h1 class="h1-blue">{{ section.headline }}</h1>
	</div>
	<div class="item-list"><ul class="article-list-content article-list-content-four">
		{% for list in section.list %}
			<li>
				<i class="ico-img"><img src="{{ list.img }}" alt=""></i>
				<h2>{{ list.title }}</h2>
				<p>{{ list.desc }}</p>
				{% if list.yt_video != "" and list.yt_video != nil %}
					<p class="p-more-play"><a href="{{ list.yt_video }}" class="swipebox" rel="youtube"><i></i>Play video</a></p>
				{% endif %}
			</li>
        {% endfor %}
	</ul></div>
</div></div>