<div class="article-list article-feature-list"><div class="in">
	<div class="item-desc">
		{% if section.subheadline != "" and section.subheadline != nil %}
			<p class="p-perex">{{ section.subheadline }}</p>
		{% endif %}
		{% if section.headline != "" and section.headline != nil %}
			<h1>{{ section.headline }}</h1>
		{% endif %}
	</div></div>
	{% for list in section.list %}
		<article class="article-feature-list-item"><div class="in">
			<div class="article-feature-list-item-content{% if list.img-left == true %} article-feature-list-item-content-right{% endif %}">
				<div class="item-img">
					<div class="img"><img src="{{ list.img }}" alt=""></div>
				</div>
				<div class="item-desc">
					<h2 class="h2-big">{{ list.title }}</h2>
					<p>{{ list.desc }}</p>
					{% if list.author != "" and list.author != nil %}
						<h3 class="h3-author">{{ list.author }}</h3>
					{% endif %}
				</div>
			</div>
		</div></article>
    {% endfor %}
</div></div>