<div class="article-text-full"><div class="in">
	<div class="item-desc">
		{% if section.subheadline != "" and section.subheadline != nil %}
			<p class="p-perex">{{ section.subheadline }}</p>
		{% endif %}
		{% if section.headline != "" and section.headline != nil %}
			<h1>{{ section.headline }}</h1>
		{% endif %}
		{% if section.content != "" and section.content != nil %}
			<p class="p-perex-dark">{{ section.content }}</p>
		{% endif %}
	</div>

	<h2>{{ section.checkpoint-list.title }}</h2>
	<ul>
	{% for list in section.checkpoint-list.list %}
		<li>{{ list.item }}</li>
	{% endfor %}
	</ul>
</div></div>