<div class="article-offices"><div class="in">
	<div class="article-offices-list"><ul>
		{% for list in section.list %}
			<li>
				<i class="ico ico-{{ forloop.index }}"></i>
				<h2 class="h2-middle h2-blue"><strong>{{ list.name }}</strong></h2>
				{{ list.address }}
				<p class="p-link"><a href="{{ list.mapslink }}"><strong>SHOW IN MAPS</strong></a></p>
			</li>
        {% endfor %}
	</ul></div>
	<div class="article-offices-footer">
		<div class="article-offices-footer-left"><p>
			ID: 28502787 <br>
			VAT ID: CZ28502787
		</p></div>
		<div class="article-offices-footer-right"><p>
			Keboola s.r.o. is a company incorporated and existing under the laws of the Czech Republic, registered in the Commercial Register administered by the Municipal Court in Prague, Section C, Insert 146313.
		</p></div>
	</div>
</div></div>