<div class="article-list article-list-three-full"><div class="in">
	<div class="item-desc">
		<p class="p-perex">{{ section.subheadline }}</p>
		<h1 class="h1-blue">{{ section.headline }}</h1>
	</div>
	<div class="item-list"><ul class="article-list-content article-list-content-three-full">
		{% for list in section.list %}
			<li>
				<i class="ico-img"><img src="{{ list.img }}" alt=""></i>
				<h2 class="h2-middle h2-{{ list.colortype }}">{{ list.title }}</h2>
				<p>{{ list.desc }}</p>
			</li>
        {% endfor %}
	</ul></div>
</div></div>