<div class="article-product-image"><div class="in">
	<div class="item-img"><img src="/img/article-platform-image.svg" alt=""></div>
	<div class="item-desc"><ul>
		<li>
			<h2 class="h2-middle h2-lightblue">Components</h2>
			<p class="p-middle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra orci et justo sollicitudin lacinia.</p>
		</li>
		<li>
			<h2 class="h2-middle h2-lightblue">Meta Data</h2>
			<p class="p-middle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra orci et justo sollicitudin lacinia. Donec suscipit leo quis laoreet elementum. Maecenas ac hendrerit felis.</p>
		</li>
		<li>
			<h2 class="h2-middle h2-lightblue">Software Orchestration</h2>
			<p class="p-middle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra orci et justo sollicitudin lacinia. Donec suscipit leo quis laoreet elementum. Maecenas ac hendrerit felis.</p>
		</li>
		<li>
			<h2 class="h2-middle h2-lightblue">Infrastructure</h2>
			<p class="p-middle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra orci et justo sollicitudin lacinia.</p>
		</li>
	</ul></div>
</div></div>