<div class="contact-form"><div class="in"><div class="contact-form-content">
	{% if section.subheadline != "" and section.subheadline != nil %}
		<p class="p-perex">{{ section.subheadline }}</p>
	{% endif %}
	{% if section.headline != "" and section.headline != nil %}
		<h1 class="h1-middle">{{ section.headline }}</h1>
	{% endif %}
	<div class="form form-{{ section.formtype }}">
		<script>
		hbspt.forms.create({
			portalId: "756003",
			formId: "1f8b74f0-3eda-4d1d-8fdd-1a625d4a00cb"
		});
		</script>
	</form></div>
</div></div></div>