<div class="gallery-list">
	<div class="gallery-list-content"><ul>
		<li>
			<div class="item"><img src="/img/solution-gallery-img.jpg" alt=""></div>
			<p></p>
		</li>
		<li>
			<div class="item"><img src="/img/solution-gallery-img.jpg" alt=""></div>
			<p></p>
		</li>
		<li>
			<div class="item"><img src="/img/solution-gallery-img.jpg" alt=""></div>
			<p></p>
		</li>
		<li>
			<div class="item"><img src="/img/solution-gallery-img.jpg" alt=""></div>
			<p></p>
		</li>
		<li>
			<div class="item"><img src="/img/solution-gallery-img.jpg" alt=""></div>
			<p></p>
		</li>
	</ul></div>
</div>