<article class="product-header"><div class="in">
	<i class="ico-cubes ico-cubes-left"></i>
	<i class="ico-cubes ico-cubes-right"></i>
	<i class="ico-cubes ico-cubes-bottom"></i>
	<i class="ico-cubes ico-cubes-top"></i>
	<div class="desc">
		<div class="desc-first">
			<p class="p-perex p-perex-dark">{{ section.subheadline }}</p>
			<h1 class="h1-head h1-white">{{ section.headline }}</h1>
		</div>
		<div class="desc-second">
			<p class="p-perex p-perex-dark">{{ section.subheadlinesecond }}</p>
			<h1 class="h1-head h1-white">{{ section.headlinesecond }}</h1>
		</div>
	</div>
	<div class="product-header-content-start">
		
	</div>
	<div class="product-header-content">
		<i class="box-head"></i>
		<div class="box-left">
			<p>You take care of things that bring value</p>
			<div class="box-left-item box-left-item-1"><i></i><span>Code</span></div>
			<div class="box-left-item box-left-item-2"><i></i><span>People</span></div>
			<div class="box-left-item box-left-item-3"><i></i><span>Logic</span></div>
		</div>
		<div class="box-right">
			<p>we take care of the infrastructure</p>
			<div class="box-right-item box-right-item-1"><i></i><span>Provisioning</span></div>
			<div class="box-right-item box-right-item-2"><i></i><span>Governance</span></div>
			<div class="box-right-item box-right-item-3"><i></i><span>Security</span></div>
		</div>
	</div>
</div></article>