<div class="contact-form"><div class="in"><div class="contact-form-content">
	{% if section.subheadline != "" and section.subheadline != nil %}
		<p class="p-perex">{{ section.subheadline }}</p>
	{% endif %}
	{% if section.headline != "" and section.headline != nil %}
		<h1 class="h1-middle">{{ section.headline }}</h1>
	{% endif %}
	<div class="form">
		<form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
			<input type=hidden name="oid" value="{{ section.formid }}">
			<input type=hidden name="retURL" value="https://www.keboola.com/success">
			<input type=hidden name="00N1t00000Kk7PL" value="{{ page.url | replace: "/", "" }}">
			<input type=hidden name="lead_source" value="Inbound">
			
			<div class="form-columns-2">
				<div class="hs-form-field">
					<label for="first_name">First Name</label>
					<input id="first_name" maxlength="40" name="first_name" size="20" type="text" placeholder="First Name" required />
				</div>
				<div class="hs-form-field">
					<label for="last_name">Last Name</label>
					<input id="last_name" maxlength="80" name="last_name" size="20" type="text" placeholder="Last Name" required />
				</div>
			</div>
			<div class="form-columns-1">
				<div class="hs-form-field">
					<label for="email">Email</label>
					<input id="email" maxlength="80" name="email" size="20" type="email" placeholder="Email" required />
				</div>
			</div>
			<div class="form-columns-2">
				<div class="hs-form-field">
					<label for="company">Company</label>
					<input id="company" maxlength="40" name="company" size="20" type="text" placeholder="Company" required />
				</div>
				<div class="hs-form-field">
					<label for="phone">Phone</label>
					<input id="phone" maxlength="40" name="phone" size="20" type="tel" placeholder="Phone" required />
				</div>
			</div>
			
			<p class="p-perex">I would like to</p>
			<div class="form-columns-1"><div class="hs-form-field">
				<select id="00N1t00000Hl906" multiple="multiple" name="00N1t00000Hl906" title="I would like to">
					<option value="See a demo">See a demo</option>
					<option value="Be invited to the next webinar">Be invited to the next webinar</option>
					<option value="Start a trial with my data right away">Start a trial with my data right away</option>
					<option value="Get a cup of great coffee">Get a cup of great coffee</option>
				</select>
			</div></div>

			<div class="hs-submit">
				<div class="actions"><input type="submit" name="submit" value="Send to Keboola"></div>
			</div>
		</form>
	</div>
</div></div></div>