<div class="partners-select"><div class="in">
	<div class="partners-select-item"><div class="item-input"><select name="partners-type" id="partners-type">
		<option value="all" selected="selected">All Partners</option>
		<option value="premium">Premium Partners</option>
	</select></div></div>
	<div class="partners-select-item"><div class="item-input"><select name="partners-country" id="partners-country">
		<option value="all" selected="selected">All Countries</option>
		<option value="Global">Global</option>
		<option value="North America">North America</option>
		<option value="Europe">Europe</option>
	</select></div></div>
</div></div>