<article class="comparison-table"><div class="in">
	<div class="comparison-table-content">
		
			<div class="comparison-table-head">
				<div class="comparison-table-name">{{ section.tablehead.name }}</div>
				<div class="comparison-table-value">{{ section.tablehead.valueold }}</div>
				<div class="comparison-table-value comparison-table-value-blue">{{ section.tablehead.valuenew }}</div>
			</div>
		
		{% for tablerow in section.tablerow %}
			<div class="comparison-table-item">
				<div class="comparison-table-name">{{ tablerow.name }}</div>
				<div class="comparison-table-value">
					{% if tablerow.valueold == 'false' %}
						<i class="ico-{{ tablerow.valueold }}">{{ tablerow.valueold }}</i>
					{% comment %}{% else if tablerow.valueold == 'true' %}
						<i class="ico-{{ tablerow.valueold }}">{{ tablerow.valueold }}</i>
					{% endcomment %}{% else %}
						{{ tablerow.valueold }}
					{% endif %}
				</div>
				<div class="comparison-table-value comparison-table-value-blue">
					{% if tablerow.valuenew == 'true' %}
						<i class="ico-{{ tablerow.valuenew }}">{{ tablerow.valuenew }}</i>
					{% comment %}{% else if tablerow.valuenew == 'false' %}
						<i class="ico-{{ tablerow.valuenew }}">{{ tablerow.valuenew }}</i>
					{% endcomment %}{% else %}
						{{ tablerow.valuenew }}
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div></article>