<article class="product-header"><div class="in">
	<div class="desc">
		<p class="p-perex p-perex-dark">{{ section.subheadline }}</p>
		<h1 class="h1-head h1-white">{{ section.headline }}</h1>
	</div>
	<div class="product-header-content">
		<i class="box-head"></i>
		<div class="box-left">
			<p>You take care of things that bring value</p>
			<div class="box-left-item"><i></i><span>Code</span></div>
			<div class="box-left-item"><i></i><span>People</span></div>
			<div class="box-left-item"><i></i><span>Apps</span></div>
		</div>
		<div class="box-right">
			<p>we take care of the infrastructure</p>
			<div class="box-right-item"><i></i><span>Provisioning</span></div>
			<div class="box-right-item"><i></i><span>Governance</span></div>
			<div class="box-right-item"><i></i><span>Security</span></div>
		</div>
	</div>
</div></article>