<article class="hp-home-header hp-home-header-right">
	<div class="in">
		<div class="hp-home-header-content-start">
			<h1 id="hp-start" class="h1-white">{{ section.headlineright }} <br>{{ section.headlineleft }}</h1>
		</div>
		<div class="hp-home-header-content">
			<h1 class="h1-blue">{{ section.headlineend }}</h1>
		</div>

		<div class="hp-home-header-img">
			<i class="img-start"></i>
			<i class="img"></i>
		</div>
		<a href="#hp-start" class="arrow-bottom">Change that.<i></i></a>

		<i class="white-box-bottom"></i>
	</div>
</article>