		{% if page.url == '/' %}
		{% else %}
		<article class="call-to-action"><div class="in">
			<h1 class="h1-middle h1-white">Ready to get started? Request free demo, or get in touch, today.</h1>
			<div class="item-desc">
				<a href="" class="btn btn-big btn-blue">Request demo</a>
				<a href="" class="btn btn-big btn-white">Get in touch</a>
			</div>
		</div></article>
		{% endif %}
	</section>
	<footer>
		<div class="footer-content"><div class="in">
			<i class="ico-pict"></i>
			<!--div class="footer-list">
				<h2>SOLUTIONS</h2>
				<ul>
					<li><a href="">Data Platform</a></li>
					<li><a href="">Connection</a></li>
					<li><a href="">Analytics</a></li>
					<li><a href="">Case Studies</a></li>
				</ul>
			</div>
			<div class="footer-list">
				<h2>About</h2>
				<ul>
					<li><a href="">Contact Us</a></li>
					<li><a href="">Jobs</a></li>
					<li><a href="">Workshops</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">Blog</a></li>
				</ul>
			</div>
			<div class="footer-list">
				<h2>Resources</h2>
				<ul>
					<li><a href="">Docs</a></li>
					<li><a href="">Quick Start Guide</a></li>
					<li><a href="">Examples</a></li>
					<li><a href="">Slack</a></li>
					<li><a href="">Use Cases</a></li>
				</ul>
			</div>
			<div class="footer-action">
				<div class="footer-action-form">
					<h2>Subscribe</h2>
					<p>Join our newsletter #noSpamWePromise!</p>

					<div class="newsletter-form">
						<input type="text" placeholder="Enter your e-mail">
						<button type="submit">send</button>
					</div>
				</div>
				<div class="footer-action-social">
					<h2>Follow us</h2>
					<div class="social-list"><ul>
						<li><a href="" class="tw">Twitter</a></li>
						<li><a href="" class="fb">Facebook</a></li>
						<li><a href="" class="linked">LinkedIn</a></li>
					</ul></div>
				</div>
			</div-->
		</div></div>
		<div class="footer-copyright"><div class="in">
			<p>© Keboola Inc. 2018<i class="hr"></i> <a href="">Terms of Use & Privacy Policy</a></p>
		</div></div>
	</footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='/js/libs/jquery-3.2.1.min.js'>\x3C/script>")</script>

<script src="/js/libs/sly.min.js"></script>

<script src="/js/global.min.js"></script>
</body>
</html>
