		<article class="call-to-action"><div class="in">
			<h1 class="h1-middle h1-white">Ready to get started? Request free demo, or get in touch, today.</h1>
			<div class="item-desc">
				<a href="" class="btn btn-big btn-blue">Request demo</a>
				<a href="" class="btn btn-big btn-white">Get in touch</a>
			</div>
		</div></article>
	</section>
	<footer>
		<div class="footer-content"><div class="in">
			<i class="ico-pict"></i>
			<div class="footer-list">
				<h2>Product</h2>
				<ul>
					<li><a href="mailto:support@keboola.com">Support</a></li>
					<li><a href="https://help.keboola.com/">Help</a></li>
					<li><a href="https://developers.keboola.com/">Developers</a></li>
					<li><a href="https://status.keboola.com/">Status</a></li>
				</ul>
			</div>
			<div class="footer-list">
				<h2>Resources</h2>
				<ul>
					<li><a href="/customer-stories/">Customer Stories</a></li>
					<li><a href="https://blog.keboola.com/">Blog</a></li>
					<li><a href="http://wiki.keboola.com/">Wiki</a></li>
					<li><a href="https://github.com/keboola">Github Sources</a></li>
				</ul>
			</div>
			<div class="footer-list">
				<h2>Legal</h2>
				<ul>
					<li><a href="/terms-conditions">Terms & Conditions</a></li>
					<li><a href="/master-software-subscription-agreement">Subscription Agreement</a></li>
					<li><a href="/security-whitepaper">Security Whitepaper</a></li>
				</ul>
			</div>
			<div class="footer-action">
				<div class="footer-action-form">
					<h2>Subscribe</h2>
					<p>Join our newsletter #noSpamWePromise!</p>

					<div class="newsletter-form">
						<input type="text" placeholder="Enter your e-mail">
						<button type="submit">send</button>
					</div>
				</div>
				<div class="footer-action-social">
					<h2>Follow us</h2>
					<div class="social-list"><ul>
						<li><a href="https://twitter.com/keboola" class="tw">Twitter</a></li>
						<li><a href="https://www.facebook.com/KeboolaHQ/" class="fb">Facebook</a></li>
						<li><a href="https://www.linkedin.com/company/keboola/" class="linked">LinkedIn</a></li>
					</ul></div>
				</div>
			</div>
		</div></div>
		<div class="footer-copyright"><div class="in">
			<p>© Keboola Inc. 2018<i class="hr"></i> <a href="">Terms of Use & Privacy Policy</a></p>
		</div></div>
	</footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='/js/libs/jquery-3.2.1.min.js'>\x3C/script>")</script>

<script src="/js/libs/sly.min.js"></script>
<script src="/js/libs/slick.min.js"></script>
<script src="/js/libs/imagesloaded.pkgd.min.js"></script>

<script src="/js/global.min.js"></script>
</body>
</html>
