		<article class="call-to-action"><div class="in">
			<h1 class="h1-middle h1-white">Ready to get started? Request a free demo or get in touch today.</h1>
			<div class="item-desc">
				<a href="/request-demo" class="btn btn-big btn-blue btn-gray-shadow">Ask for a demo</a>
				<a href="https://keboola.drift.click/88e6ae2f-18d0-4872-9250-183cbe01eba8" class="btn btn-big btn-white btn-gray-shadow">Talk to Sales</a>
			</div>
		</div></article>
	</section>
	<footer>
		<div class="footer-content"><div class="in">
			<i class="ico-pict"></i>
			<div class="footer-list">
				<h2>Product</h2>
				<ul>
					<li><a href="mailto:support@keboola.com">Support</a></li>
					<li><a href="https://help.keboola.com/">Help</a></li>
					<li><a href="https://developers.keboola.com/">Developers</a></li>
					<li><a href="https://status.keboola.com/">Status</a></li>
				</ul>
			</div>
			<div class="footer-list">
				<h2>Resources</h2>
				<ul>
					<li><a href="/customer-stories/">Customer Stories</a></li>
					<li><a href="https://blog.keboola.com/">Blog</a></li>
					<li><a href="https://github.com/keboola">Github Sources</a></li>
				</ul>
			</div>
			<div class="footer-list">
				<h2>Legal</h2>
				<ul>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/terms-and-conditions">Terms & Conditions</a></li>
					<li><a href="/master-software-subscription-agreement">Subscription Agreement</a></li>
					<li><a href="/security-whitepaper">Security Whitepaper</a></li>
				</ul>
			</div>
			<div class="footer-action">
				<div class="footer-action-form">
					<h2>Subscribe</h2>
					<p>Join our newsletter #noSpamWePromise!</p>

					<div class="newsletter-form">
						<div id="mc_embed_signup">
						<form action="https://keboola.us20.list-manage.com/subscribe/post?u=02ea03d335cde360b0b1d4677&amp;id=2ae80521c6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						   <div id="mc_embed_signup_scroll">
						    <div class="input"><input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required></div>
						   <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_02ea03d335cde360b0b1d4677_2ae80521c6" tabindex="-1" value=""></div>

						   <div class="actions"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						   </div>
						</form>
						</div>{% comment %}
						<script>
							hbspt.forms.create({
								portalId: "756003",
								formId: "f0beddad-7169-4fed-8aa7-3f03fbc09005"
							});
						</script>{% endcomment %}
					</div>
				</div>
				<div class="footer-action-social">
					<h2>Follow us</h2>
					<div class="social-list"><ul>
						<li><a href="https://twitter.com/keboola" target="_blank" class="tw">Twitter</a></li>
						<li><a href="https://www.facebook.com/KeboolaHQ/" target="_blank" class="fb">Facebook</a></li>
						<li><a href="https://www.linkedin.com/company/keboola/" target="_blank" class="linked">LinkedIn</a></li>
					</ul></div>
				</div>
			</div>
		</div></div>
		<div class="footer-copyright"><div class="in">
			<p>© Keboola Inc. 2019</p>
		</div></div>
	</footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='/js/libs/jquery-3.2.1.min.js'>\x3C/script>")</script>
{% comment %}
<script src="/js/libs/sly.min.js"></script>
<script src="/js/libs/slick.min.js"></script>
<script src="/js/libs/imagesloaded.pkgd.min.js"></script>
{% endcomment %}
<script src="/js/build.min.js"></script>
<script src="/js/global.min.js"></script>
</body>
</html>
