<!doctype html>
<html class="no-js{{ include.error }}" lang="cs">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	{% if page.url == '/' %}<title>{{ page.title }}</title>
	{% else %}<title>{{ page.title }} - Keboola</title>{% endif %}
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">

	<meta property="og:title" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="" />

	<link rel="stylesheet" href="/css/style.css?v=14">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400">

</head>
<body>
<div class="page">
	<header{% if page.url == '/' %} class="header-home"{% else %}{% endif %}><div class="in">
		<h1><a href="/">Keboola</a></h1>
		<div class="header-nav">
			<a href="#" class="btn-show-menu"><i></i> Menu</a>
			<nav><ul>
				<li><a href="/product/"{% if page.url contains '/product/' %} class="item-act"{% endif %}>Product</a></li>
				<li><a href="/learning/"{% if page.url contains '/learning/' %} class="item-act"{% endif %}>Learning</a></li>
				<!--li><a href="">Platform</a></li>
				<li><a href="">Solutions</a></li>
				<li><a href="">Learning</a></li>
				<li><a href="">About</a></li>
				<li class="item-btn"><a href="" class="btn-dark">See demo</a></li-->
			</ul></nav>
			<!--a href="" class="btn btn-blue">See demo</a-->
		</div>
	</div></header>
	<section>