<!doctype html>
<html class="no-js{{ include.error }}" lang="cs">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	{% if page.url == '/' %}<title>{{ page.title }}</title>
	{% else %}<title>{{ page.title }} - Keboola</title>{% endif %}
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">

	<meta property="og:title" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="" />

	<link rel="stylesheet" href="/css/style.css?v=14">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400">

</head>
<body>
<div class="page">
	<header{% if page.url == '/' %} class="header-home"{% else %}{% endif %}><div class="in">
		<h1><a href="/">Keboola</a></h1>
		<div class="header-nav">
			<a href="#" class="btn-show-menu"><i></i> Menu</a>
			<nav><ul class="nav-list">
				<li class="nav-item nav-item-sub_">
					<a href="/product/"{% if page.url contains '/product/' %} class="item-act"{% endif %}><span>Product</span></a>
					{% comment %}<div class="nav-list-submenu"><div class="nav-list-submenu-item">
						<ul>
						{% for product in site.product %}
						 	{% if product.url != '/product/' %}
							<li><a href="{{ product.url }}"{% if page.url contains product.url %} class="item-act"{% endif %}>{{ product.title }}</a></li>
							{% endif %}
						{% endfor %}
						</ul>
					</div></div>{% endcomment %}
				</li>
				<li class="nav-item nav-item-sub_">
					<a href="/platform/"{% if page.url contains '/platform/' %} class="item-act"{% endif %}><span>Platform</span></a>
					{% comment %}<div class="nav-list-submenu"><div class="nav-list-submenu-item">
						<ul>
						{% for platform in site.platform %}
						 	{% if platform.url != '/platform/' %}
							<li><a href="{{ platform.url }}"{% if page.url contains platform.url %} class="item-act"{% endif %}>{{ platform.title }}</a></li>
							{% endif %}
						{% endfor %}
						</ul>
					</div></div>{% endcomment %}
				</li>
				<li class="nav-item nav-item-sub_">
					<a href="/solutions/"{% if page.url contains '/solutions/' %} class="item-act"{% endif %}><span>Solutions</span></a>
					{% comment %}<div class="nav-list-submenu nav-list-submenu-solutions">
						<div class="nav-list-submenu-item nav-list-submenu-item-small">
							<p>industry</p>
							<ul>
							{% for solutions in site.solutions %}
							 	{% if solutions.relative_path contains '/industry/' %}
								<li><a href="{{ solutions.url }}"{% if page.url contains solutions.url %} class="item-act"{% endif %}>{{ solutions.title }}</a></li>
								{% endif %}
							{% endfor %}
							</ul>
						</div>
						<div class="nav-list-submenu-item nav-list-submenu-item-middle">
							<p>departments</p>
							<ul>
							{% for solutions in site.solutions %}
							 	{% if solutions.relative_path contains '/departments/' %}
								<li><a href="{{ solutions.url }}"{% if page.url contains solutions.url %} class="item-act"{% endif %}>{{ solutions.title }}</a></li>
								{% endif %}
							{% endfor %}
							</ul>
						</div>
						<div class="nav-list-submenu-item nav-list-submenu-item-big">
							<p>goals</p>
							<ul>
							{% for solutions in site.solutions %}
							 	{% if solutions.relative_path contains '/goals/' %}
								<li><a href="{{ solutions.url }}"{% if page.url contains solutions.url %} class="item-act"{% endif %}>{{ solutions.title }}</a></li>
								{% endif %}
							{% endfor %}
							</ul>
						</div>
					</div>{% endcomment %}
				</li>
				<li class="nav-item nav-item-sub">
					<a href="/resources/"{% if page.url contains '/resources/' or page.url contains '/customer-stories/' or page.url contains '/whitepapers/' or page.url contains '/events/' or page.url contains '/webinars/' %} class="item-act"{% endif %}><span>Resources</span></a>
					{% comment %}<div class="nav-list-submenu nav-list-submenu-learning">
						<div class="nav-list-submenu-item nav-list-submenu-item-half">
							<p>Resources</p>
							<ul>
								<li><a href="/customer-stories/"{% if page.url contains '/customer-stories/' %} class="item-act"{% endif %}>Customer  Stories</a></li>
								<li><a href="/whitepapers/"{% if page.url contains '/whitepapers/' %} class="item-act"{% endif %}>Whitepapers</a></li>
								<li><a href="/events/"{% if page.url contains '/events/' %} class="item-act"{% endif %}>Events</a></li>
								<li><a href="/webinars/"{% if page.url contains '/webinars/' %} class="item-act"{% endif %}>Webinars</a></li>
							</ul>
						</div>
						<div class="nav-list-submenu-item nav-list-submenu-item-half">
							<p>Other</p>
							<ul>
								<li><a href="https://blog.keboola.com/">Blog</a></li>
								<li><a href="http://wiki.keboola.com/">Wiki</a></li>
							</ul>
						</div>
					</div>{% endcomment %}
				</li>
				<li class="nav-item nav-item-sub_">
					<a href="/about/"{% if page.url contains '/about/' %} class="item-act"{% endif %}><span>About</span></a>
					{% comment %}<div class="nav-list-submenu"><div class="nav-list-submenu-item">
						<ul>
						{% for about in site.about %}
						 	{% if about.url != '/about/' %}
							<li><a href="{{ about.url }}"{% if page.url contains about.url %} class="item-act"{% endif %}>{{ about.title }}</a></li>
							{% endif %}
						{% endfor %}
						</ul>
					</div></div>{% endcomment %}
				</li>
				<li class="nav-item-btn"><a href="" class="btn-dark">See demo</a></li>
			</ul></nav>
			{% if page.url == '/' %}<a href="" class="btn btn-white">See demo</a>
			{% else %}<a href="" class="btn btn-blue">See demo</a>{% endif %}
			
		</div>
	</div></header>
	<section>