.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Cerebrisans, Arial, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Cerebrisans, Arial, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

a {
  color: #000;
  text-decoration: none;
}

.cta-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(99, 113, 120, 0.13);
  background-color: #228dff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.top-nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta-top {
  color: hsla(0, 0%, 100%, 0.93);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-container-mob {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-mobile {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-height: 120px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.navigation-left {
  display: block;
  height: auto;
  max-width: none;
  min-height: 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.navigation-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
}

.navigation-wrap {
  display: block;
  font-size: 16px;
}

.nav-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.nav-menu:hover {
  color: #228dff;
}

.keboola-logo {
  width: 130px;
  min-width: 130px;
  margin-right: 40px;
}

.dropdown-link-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 22px 16px;
  color: #283338;
  font-size: 16px;
  text-decoration: none;
}

.dropdown-link-mobile:hover {
  background-color: #f8faff;
}

.navigation {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.dropdown {
  display: block;
}

.body {
  display: block;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  color: #000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.hiringbadge {
  padding-left: 10px;
}

.navbar {
  background-color: transparent;
}

.button {
  max-height: 60px;
  margin-right: 24px;
  margin-left: auto;
  padding: 15px 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 4px;
  background-color: #228dff;
  font-size: 18px;
}

.textcta-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.cta-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.cta-light {
  padding: 15px 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.sectionproductfeature {
  margin-bottom: 80px;
  padding-right: 30px;
  padding-left: 30px;
}

.intro-dark {
  max-width: 100%;
}

.headingfooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

.image-4 {
  display: block;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-div {
  position: -webkit-sticky;
  position: sticky;
  display: block;
  max-width: none;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.divider-inner {
  border-bottom: 2px solid rgba(175, 196, 215, 0.5);
}

.divider {
  margin-bottom: 80px;
  padding-right: 20px;
  padding-left: 30px;
}

.footer {
  padding: 80px 50px 40px;
  background-color: #f7f7f9;
}

.dark-div-1600 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  min-height: 240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #071729;
}

.grid-4 {
  position: relative;
  max-width: 1200px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 60px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-5 {
  max-width: 1200px;
  grid-column-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.headingfooter-div {
  width: 55%;
}

.footerheader {
  color: #7f8198;
  font-size: 16px;
  letter-spacing: 2px;
  text-indent: 0px;
}

.list {
  margin-top: 20px;
  font-size: 16px;
  line-height: 18px;
}

.link-block {
  padding-right: 40px;
}

.link-block.w--current {
  color: #228dff;
}

.link-block.w--current:hover {
  color: #228dff;
}

.mycontainer-light-copy {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px none #e4f1ff;
}

.mycontainter-footer-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
}

.terms-of-use {
  padding-top: 0px;
}

.text-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  color: #272837;
  font-size: 13px;
  text-align: left;
}

.followuslinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer-cta {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f7f9;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.footeritem {
  padding-bottom: 20px;
}

.sectionlightblue {
  display: block;
  margin-bottom: 80px;
  padding-right: 30px;
  padding-left: 30px;
}

.systemstatusgrid {
  display: -ms-grid;
  display: grid;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  justify-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-1200-20px {
  height: auto;
  max-width: 1200px;
  min-height: 20px;
  margin-right: auto;
  margin-left: auto;
}

.div-1200-32px {
  height: auto;
  max-width: 1200px;
  min-height: 32px;
  margin-right: auto;
  margin-left: auto;
}

.div-1200-40px {
  height: auto;
  max-width: 1200px;
  min-height: 40px;
  margin-right: auto;
  margin-left: auto;
}

.listitem3 {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-image: url('../images/3.svg');
  background-position: 0% 50%;
  background-size: 24px;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  line-height: 28px;
}

.list-2 {
  padding-left: 0px;
  list-style-type: none;
}

.listitem1 {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-image: url('../images/1.svg');
  background-position: 0% 50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
}

.listitem2 {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-image: url('../images/2.svg');
  background-position: 0% 50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  line-height: 28px;
}

.linksocialfooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.button20spacer {
  max-height: 60px;
  margin-right: 20px;
  padding: 15px 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 4px;
  background-color: #228dff;
  font-size: 20px;
  font-weight: 400;
}

.hiringbadge-2 {
  width: auto;
  height: auto;
  padding-left: 10px;
}

.navigation-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-height: 120px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.navigation-wrap-2 {
  display: block;
  font-size: 16px;
}

.dropdown-link-mobile-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 22px 16px;
  color: #283338;
  font-size: 16px;
  text-decoration: none;
}

.dropdown-link-mobile-2:hover {
  background-color: #f8faff;
}

.brand-5 {
  display: none;
}

.navigation-mobile-2 {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.keboola-logo-2 {
  width: 130px;
  height: auto;
}

.navigation-left-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 226px;
  height: auto;
  max-width: none;
  min-height: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-2 {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.herogridwhite {
  position: static;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  min-height: 500px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  justify-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-flow: row;
  grid-column-gap: 80px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.try-button-learn-more {
  float: left;
}

.h1-hero-2 {
  margin-bottom: 30px;
  padding-top: 0px;
  font-size: 44px;
  line-height: 56px;
  font-weight: 400;
}

.contenthero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.buttonblue {
  padding: 20px 30px;
  float: left;
  clear: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 4px;
  background-color: #228dff;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.hero-finance {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
  padding: 0px 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.p_24_40 {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #020203;
  font-size: 24px;
  line-height: 40px;
}

.div-1200-20px-2 {
  height: auto;
  max-width: 1200px;
  min-height: 20px;
  margin-right: auto;
  margin-left: 0px;
}

.icon {
  padding-bottom: 30px;
}

.grid-15 {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 60px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.h3-black-regular {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.block-text-2 {
  width: auto;
  margin-top: 0px;
  color: rgba(35, 49, 65, 0.7);
}

.h2-dark-regular {
  width: 100%;
  font-size: 44px;
  line-height: 56px;
  font-weight: 400;
}

.h2-dark-regular.covid4box {
  margin-bottom: 60px;
}

.containerlight-2 {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px none #e4f1ff;
}

.section-platform {
  margin-bottom: 80px;
  padding-right: 30px;
  padding-left: 30px;
}

.sliderquotes {
  position: relative;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 70px 80px 80px;
  background-image: linear-gradient(135deg, #fff8e3, #e4f1ff);
}

.sectioncontent {
  display: block;
  margin-bottom: 80px;
  padding-right: 20px;
  padding-left: 30px;
}

.text-quote-solutions {
  font-family: Cerebrisans, Arial, sans-serif;
  font-size: 28px;
  line-height: 44px;
  font-weight: 300;
}

.text-quote-solutions.who {
  padding-bottom: 20px;
}

.slideauthor {
  margin-top: 0px;
  color: #000;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.div50 {
  width: 50%;
  height: 2px;
  margin-bottom: 80px;
  border-top: 2px solid rgba(175, 196, 215, 0.5);
}

.whologo {
  margin-bottom: 30px;
}

.p_20_34 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  line-height: 34px;
}

.downloadcovid {
  background-image: url('../images/download.svg');
  background-position: 0% 50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.downloadtext {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 40px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  line-height: 34px;
}

.heading-3 {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 42px;
  line-height: 52px;
  font-weight: 400;
}

.listitem4 {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-image: url('../images/4.svg');
  background-position: 0% 50%;
  background-size: 24px;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  line-height: 28px;
}

.content19-sticky-wrap {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  bottom: 0px;
}

.content19-image {
  height: 460px;
  background-image: url('../images/cityItaly.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.introresponcecenter {
  max-width: 100%;
}

.imgresponse {
  width: 100%;
  max-width: 560px;
  background-image: url('../images/responseBack.jpg');
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.link-inline-2 {
  color: #228dff;
  text-decoration: underline;
}

.containerlight-3 {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px none #e4f1ff;
}

.link-7 {
  color: #228dff;
  font-weight: 500;
  text-decoration: underline;
}

.container1440lightblue-2 {
  display: block;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 30px;
  background-color: #f4f7fa;
}

.secbox-2 {
  display: block;
  padding: 32px;
  background-color: #fff;
  background-image: url('../images/securityBadger.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.containerlight-0p-2 {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px none #e4f1ff;
}

.grid-4-box {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 60px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-hero-top {
  position: static;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  min-height: 500px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  justify-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-flow: row;
  grid-column-gap: 80px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-feature {
  position: relative;
  max-width: 1200px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 60px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-secutiry {
  display: -ms-grid;
  display: grid;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  justify-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-italian-city {
  position: relative;
  max-width: 1200px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 60px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .top-nav-container {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .cta-top {
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
  }
  .navigation-container-mob {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .navigation-mobile {
    position: relative;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 85px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid rgba(68, 85, 103, 0.11);
  }
  .menu-mob {
    margin-right: -15px;
    padding: 15px;
    border-radius: 100px;
    background-color: transparent;
    color: #000;
    font-size: 22px;
  }
  .menu-mob.w--open {
    background-color: #228dff;
  }
  .navigation-wrap {
    background-color: #fff;
  }
  .nav-menu {
    display: block;
  }
  .mobile-nav {
    padding-top: 0px;
    background-color: #fff;
    box-shadow: 42px 42px 55px 0 rgba(32, 53, 90, 0.09);
  }
  .keboola-logo {
    display: inline-block;
  }
  .dropdown-link-mobile {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navigation {
    padding-right: 0px;
    padding-left: 0px;
  }
  .icon-5 {
    font-size: 22px;
    font-style: normal;
    text-decoration: none;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .hiringbadge {
    margin-left: 10px;
    padding-left: 0px;
  }
  .brand-2 {
    margin-right: auto;
  }
  .button {
    margin-right: 0%;
  }
  .textcta-div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .cta-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .cta-light {
    display: inline-block;
    min-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
  .sectionproductfeature {
    margin-bottom: 20px;
  }
  .headingfooter {
    font-size: 30px;
  }
  .image-4 {
    width: 100%;
    max-width: 560px;
    margin-right: 0px;
    margin-left: 0px;
    float: none;
    clear: none;
  }
  .div-block-15 {
    position: static;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .img-div {
    position: static;
    margin-bottom: 0px;
  }
  .divider {
    margin-bottom: 60px;
  }
  .footer {
    padding-top: 40px;
  }
  .dark-div-1600 {
    min-height: 220px;
  }
  .grid-4 {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 40px auto;
    grid-template-rows: auto auto;
  }
  .grid-5 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .mycontainter-footer-cta {
    padding-left: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .sectionlightblue {
    margin-bottom: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .systemstatusgrid {
    grid-column-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .div-1200-40px {
    min-height: 32px;
  }
  .listitem3 {
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .listitem1 {
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .listitem2 {
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .button20spacer {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .brand-4 {
    margin-right: auto;
  }
  .hiringbadge-2 {
    display: none;
    margin-left: 10px;
    padding-left: 0px;
  }
  .navigation-wrap-2 {
    background-color: #fff;
  }
  .dropdown-link-mobile-2 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
  }
  .dropdown-list-2 {
    background-color: #eaf0f6;
  }
  .dropdown-list-2.w--open {
    background-color: #fff;
  }
  .mobile-dropdown-2 {
    display: block;
  }
  .nav-link {
    display: block;
  }
  .nav-link.w--current {
    color: #000;
  }
  .navigation-mobile-2 {
    position: relative;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 85px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .keboola-logo-2 {
    display: inline-block;
  }
  .navigation-left-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation-2 {
    display: none;
  }
  .herogridwhite {
    height: auto;
    min-height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .try-button-learn-more {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .h1-hero-2 {
    font-size: 40px;
    line-height: 54px;
  }
  .intro-title {
    padding-top: 20px;
  }
  .contenthero {
    width: 100%;
    margin-top: 40px;
  }
  .contenthero.finance {
    width: auto;
    max-width: 740px;
    margin-top: 0px;
  }
  .buttonblue {
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 10px 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    line-height: 40px;
  }
  .hero-finance {
    margin-bottom: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .p_24_40 {
    max-width: 100%;
    font-size: 22px;
    line-height: 34px;
  }
  .h2-dark-regular.covid4box {
    font-size: 36px;
  }
  .section-platform {
    margin-bottom: 60px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .sliderquotes {
    padding: 30px 40px 40px;
  }
  .sectioncontent {
    margin-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .text-quote-solutions {
    font-size: 24px;
    line-height: 36px;
  }
  .div50 {
    margin-bottom: 50px;
  }
  .p_20_34 {
    max-width: 100%;
    font-size: 22px;
    line-height: 34px;
  }
  .downloadtext {
    max-width: 100%;
    font-size: 22px;
    line-height: 34px;
  }
  .heading-3 {
    font-size: 28px;
    line-height: 40px;
  }
  .listitem4 {
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .content19-sticky-wrap {
    position: relative;
    top: 0px;
    bottom: 0px;
  }
  .content19-image {
    height: 480px;
  }
  .imgresponse {
    height: 474px;
    max-width: 560px;
    padding-bottom: 75px;
    background-position: 50% 50%;
  }
  .containerlight-3 {
    margin-bottom: 50px;
  }
  .container1440lightblue-2 {
    padding: 40px 30px;
  }
  .secbox-2 {
    min-height: 240px;
  }
  .containerlight-0p-2 {
    margin-bottom: 50px;
  }
  .grid-hero-top {
    height: auto;
    min-height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .grid-feature {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 40px auto;
    grid-template-rows: auto auto;
  }
  .grid-secutiry {
    grid-column-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .grid-italian-city {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 40px auto;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .cta-banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-menu {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .hiringbadge {
    margin-left: 0px;
    padding-left: 0px;
  }
  .brand-2.w--current {
    padding-left: 0px;
  }
  .textcta-div {
    display: block;
  }
  .cta-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 100%;
    margin-right: 0px;
    margin-left: auto;
    padding-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-items: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .cta-light {
    display: inline-block;
    width: auto;
    max-width: none;
    min-width: 40%;
    margin-right: auto;
    margin-left: 0px;
    padding: 15px;
    font-size: 18px;
    text-align: center;
  }
  .sectionproductfeature {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .headingfooter {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 38px;
  }
  .divider {
    margin-bottom: 60px;
    padding-right: 30px;
  }
  .footer {
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .dark-div-1600 {
    min-height: 200px;
  }
  .grid-4 {
    grid-auto-flow: row;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .grid-5 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .headingfooter-div {
    width: 100%;
  }
  .link-block {
    display: none;
  }
  .mycontainter-footer-cta {
    background-color: transparent;
  }
  .footeritem {
    padding-bottom: 15px;
  }
  .sectionlightblue {
    padding-right: 0px;
    padding-left: 0px;
  }
  .listitem3 {
    padding-bottom: 0px;
    font-size: 20px;
  }
  .listitem1 {
    padding-bottom: 0px;
    font-size: 20px;
  }
  .listitem2 {
    padding-bottom: 0px;
    font-size: 20px;
  }
  .button20spacer {
    margin-right: 20px;
    margin-bottom: 0px;
  }
  .brand-4 {
    padding-left: 0px;
  }
  .brand-4.w--current {
    padding-left: 0px;
  }
  .hiringbadge-2 {
    margin-left: 0px;
    padding-left: 10px;
  }
  .herogridwhite {
    grid-row-gap: 40px;
  }
  .try-button-learn-more {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .h1-hero-2 {
    width: 100%;
    font-size: 36px;
    line-height: 48px;
  }
  .intro-title {
    max-width: 700px;
  }
  .buttonblue {
    display: inline-block;
    max-width: none;
    min-width: auto;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 10px 20px;
    line-height: 40px;
    text-align: center;
  }
  .p_24_40 {
    font-size: 20px;
    line-height: 32px;
  }
  .grid-15 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .h2-dark-regular {
    font-size: 40px;
    line-height: 52px;
  }
  .h2-dark-regular.covid4box {
    font-size: 32px;
    line-height: 44px;
  }
  .sectioncontent {
    margin-bottom: 0px;
    padding: 0px 0px 40px;
  }
  .text-quote-solutions {
    width: 100%;
  }
  .heading-3 {
    margin-top: 10px;
    font-size: 28px;
    line-height: 34px;
  }
  .listitem4 {
    padding-bottom: 0px;
    font-size: 20px;
  }
  .content19-sticky-wrap {
    position: relative;
  }
  .content19-image {
    height: 360px;
  }
  .containerlight-3 {
    margin-bottom: 30px;
    padding-top: 0px;
  }
  .containerlight-0p-2 {
    margin-bottom: 30px;
    padding-top: 0px;
  }
  .grid-4-box {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .grid-hero-top {
    grid-row-gap: 40px;
  }
  .grid-feature {
    grid-auto-flow: row;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .grid-italian-city {
    grid-auto-flow: row;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 479px) {
  .cta-top {
    font-size: 14px;
    line-height: 20px;
  }
  .navigation-container {
    min-height: 90px;
  }
  .navigation-wrap {
    background-color: #fff;
  }
  .keboola-logo {
    display: inline-block;
  }
  .dropdown-link-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-color: #e4f1ff;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .dropdown-link-mobile:hover {
    background-color: #228dff;
  }
  .hiringbadge {
    padding-left: 0px;
  }
  .brand-2 {
    margin-right: auto;
  }
  .brand-2.w--current {
    margin-right: 0px;
  }
  .button {
    display: none;
  }
  .cta-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-auto-flow: row;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .cta-light {
    display: block;
    max-width: none;
    min-width: 80%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: 0px;
    padding: 10px 15px;
    line-height: 24px;
    text-align: center;
  }
  .headingfooter {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }
  .divider {
    margin-bottom: 40px;
  }
  .footer {
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .dark-div-1600 {
    min-height: 240px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .grid-5 {
    grid-column-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .followuslinks {
    max-width: 100%;
  }
  .sectionlightblue {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-1200-20px {
    display: block;
    max-width: 100%;
  }
  .div-1200-32px {
    min-height: 20px;
  }
  .div-1200-40px {
    min-height: 20px;
  }
  .listitem3 {
    font-size: 18px;
  }
  .listitem1 {
    font-size: 18px;
  }
  .listitem2 {
    font-size: 18px;
  }
  .button20spacer {
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 18px;
  }
  .brand-4 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
  }
  .brand-4.w--current {
    margin-right: 0px;
  }
  .hiringbadge-2 {
    display: none;
    padding-left: 0px;
  }
  .navigation-wrap-2 {
    background-color: #fff;
  }
  .dropdown-link-mobile-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-color: #e4f1ff;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .dropdown-link-mobile-2:hover {
    background-color: #228dff;
  }
  .keboola-logo-2 {
    display: inline-block;
  }
  .herogridwhite {
    grid-auto-flow: column;
  }
  .try-button-learn-more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .h1-hero-2 {
    font-size: 30px;
    line-height: 40px;
  }
  .intro-title {
    padding-top: 0px;
  }
  .buttonblue {
    display: block;
    min-width: auto;
    padding: 10px 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 16px;
    text-align: left;
  }
  .hero-finance {
    margin-bottom: 40px;
  }
  .p_24_40 {
    font-size: 20px;
  }
  .div-1200-20px-2 {
    display: block;
  }
  .grid-15 {
    grid-row-gap: 40px;
  }
  .h2-dark-regular {
    font-size: 34px;
    line-height: 44px;
  }
  .h2-dark-regular.covid4box {
    font-size: 28px;
    line-height: 40px;
  }
  .containerlight-2 {
    margin-right: 0px;
    margin-left: 0px;
  }
  .section-platform {
    margin-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .sliderquotes {
    overflow: visible;
    width: auto;
    max-width: none;
    min-width: 260px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .sectioncontent {
    margin-bottom: 40px;
    padding: 30px 0px 0px;
  }
  .text-quote-solutions {
    width: auto;
    min-width: 250px;
    font-size: 20px;
    line-height: 30px;
  }
  .slideauthor {
    font-size: 14px;
    line-height: 22px;
  }
  .p_20_34 {
    font-size: 18px;
    line-height: 30px;
  }
  .downloadtext {
    font-size: 20px;
  }
  .heading-3 {
    margin-bottom: 0px;
    font-size: 28px;
    line-height: 38px;
  }
  .listitem4 {
    font-size: 18px;
  }
  .content19-image {
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .imgresponse {
    height: 300px;
    background-position: 50% 0%;
    background-size: contain;
  }
  .secbox-2 {
    background-image: url('../images/securityBadger.svg');
    background-size: 80%;
    background-repeat: no-repeat;
  }
  .grid-4-box {
    grid-row-gap: 40px;
  }
  .grid-hero-top {
    grid-auto-flow: column;
  }
}

#w-node-b573b8c07962-3803215a {
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b573b8c0796d-3803215a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

#w-node-9fed0eb50f15-3803215a {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-9fed0eb50f28-3803215a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-b573b8c07962-3803215a {
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
  }
  #w-node-b573b8c0796d-3803215a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-0329e74ae8e9-3803215a {
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  #w-node-0329e74ae8f2-3803215a {
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  #w-node-0329e74ae8fb-3803215a {
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-0329e74ae904-3803215a {
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-9fed0eb50f15-3803215a {
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-9fed0eb50f28-3803215a {
    -ms-grid-column-align: start;
    justify-self: start;
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #w-node-e4ff20d973f4-3803215a {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-d5d9d7f53503-3803215a {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  #w-node-f7621a11bd03-1a11bcbd {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-b573b8c07962-3803215a {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-row: span 3;
    grid-row-start: span 3;
    -ms-grid-row-span: 3;
    grid-row-end: span 3;
  }
  #w-node-0329e74ae8e9-3803215a {
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 0;
    grid-column-end: 1;
    -ms-grid-row-span: 0;
    grid-row-end: 1;
  }
  #w-node-0329e74ae8f2-3803215a {
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  #w-node-0329e74ae8fb-3803215a {
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-0329e74ae904-3803215a {
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-9fed0eb50f15-3803215a {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
  #w-node-d5d9d7f53503-3803215a {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-b573b8c07962-3803215a {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-0329e74ae8e9-3803215a {
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row-span: 0;
    grid-row-end: 1;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
  #w-node-0329e74ae8f2-3803215a {
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
  #w-node-0329e74ae8fb-3803215a {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
  #w-node-0329e74ae904-3803215a {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
}

@font-face {
  font-family: 'Cerebrisans';
  src: url('../fonts/CerebriSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Cerebrisans';
  src: url('../fonts/CerebriSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Cerebrisans';
  src: url('../fonts/CerebriSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Cerebrisans';
  src: url('../fonts/CerebriSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Cerebrisans';
  src: url('../fonts/CerebriSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}