{% include head.html %}
<article class="section-header section-header-resourceslist section-header-resoucesdetail"><div class="in">
	<div class="section-desc">
		<h2 class="h2-middle h2-white">{% for category in page.categories %}
			<a href="/{{ category }}/">{{ category | downcase | replace:"-"," " }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</h2>
		<h1 class="h1-head h1-white"><strong>{{ page.title }}</strong></h1>
		<p class="p-perex-light">By Pavel Doležal</p>
	</div>
</div></article>
<article class="article-detail-content"><div class="in">
	{{ content }}
	<div class="article-detail-share">
		<a href="" class="share-btn-fb"><i></i>185</a>
		<a href="" class="share-btn-tw"><i></i>45</a>
	</div>
</div></article>

{% if page.previous.url %}
<article class="article-next"><div class="in">
	<a href="{{page.previous.url}}" class="article-next-content">
		<i class="bg"></i>
		<i class="ico-pict"></i>
		<div class="article-next-desc">
			<h2>NEXT ARTICLE</h2>
			<h1>{{page.previous.title}}</h1>
			<p> {{page.previous.perex}}</p>
			<p class="p-more">Read next article</p>
		</div>
	</a>
</div></article>
{% endif %}
{% include foot.html %}