{% include head-simple.html %}
<div class="contact-form"><div class="in">
	<div class="contact-form-content"><div class="form">
		<div class="submitted-message"><p>Thanks for contacting us - we will get back to you as soon as posibble.</p></div>
	</div></div>
	<div class="contact-form-success">
		<p class="p-perex">learn even more about keboola</p>
		<h1 class="">Explore <a href="/product/">product</a>, <a href="/platform/">platform </a> <br>and our <a href="/resources/">case&nbsp;studies</a>.</h1>
	</div>
</div></div>
{% include foot-simple.html %}