{% include head.html %}
<article class="article-detail-header"><div class="in">
	<div class="article-header-desc">
		<h2>{% for category in page.categories limit:1 %}
			<a href="/{{ category }}">{{ category | downcase | replace:"-"," " }}</a>
			{% unless forloop.last %}, {% endunless %}{% endfor %}</h2>
		<h1>{{ page.title }}</h1>
		<p>{{ page.perex }}</p>
	</div>
</div></article>
<article class="article-detail-content">
	{{ content }}

	<div class="article-detail-share">
		<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" class="share-btn-fb"><i></i></a>
		<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" data-text="{{ page.title }}" data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" class="share-btn-tw"><i></i></a>
	</div>
</article>
{% include foot.html %}