{% include head.html %}
{% assign customerstories = site.customer-stories %}
{% assign whitepapers = site.whitepapers %}
{% assign events = site.events %}
{% assign webinars = site.webinars %}

{% assign learning = customerstories | concat: whitepapers | concat: events | concat: webinars %}
{% assign sortedlearning = learning | sort: 'date' | reverse | limit: 9 %}

<article class="section-header section-header-recent"><div class="in">
	<div class="section-desc">
		<p class="p-perex p-perex-dark">Helpful assets to maximaze your success</p>
		<h1 class="h1-head h1-white"><strong>Featured resources</strong></h1>
		<div class="section-header-learning-list">
			{% comment %}<div class="section-header-learning-list-big"><ul>
				<li><a href="/customer-stories/"><i class="ico-customer"></i><p>Customer  Stories</p></a></li>
				<li><a href="/whitepapers/"><i class="ico-papers"></i><p>Whitepapers</p></a></li>
				<li><a href="/events/"><i class="ico-events"></i><p>Events</p></a></li>
				<li><a href="/webinars/"><i class="ico-webinars"></i><p>Webinars</p></a></li>
			</ul></div>{% endcomment %}
			<div class="section-header-learning-list-small"><ul>
				<li><a href="https://blog.keboola.com/"><p>Blog</p><i class="ico-arrow"></i></a></li>
				<li><a href="http://wiki.keboola.com/"><p>Wiki</p><i class="ico-arrow"></i></a></li>
			</ul></div>
		</div>
	</div>
</div></article>
<div class="section-header-recent-content">
	<div class="most-recent-list">
		<ul class="most-recent-list-content">
			<li class="li-placeholder"></li>
			{% for post in sortedlearning %}
				{% if post.background-image != "" and post.background-image != nil %}
					{% assign postcountingin = postcountingin | plus: 1 %}
					{% if postcountingin < 7 %}
						<li><a href="{{ post.url }}">
							<div class="img"><img src="{{ post.background-image }}" alt="{{ post.title }}"></div>{% comment %}<i class="bg-img"></i>{% endcomment %}
							<div class="item-desc"><h2>{{ post.title }}</h2><p>
								{% if post.url contains '/customer-stories/' %}View story
								{% elsif post.url contains '/whitepapers/' %}View whitepaper
								{% elsif post.url contains '/events/' %}events
								{% elsif post.url contains '/webinars/' %}webinars{% endif %}
							</p></div>
						</a></li>
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
		<div class="most-recent-pages-content">
			<span class="btn-prevpage">prev</span>
			<ul class="most-recent-pages"></ul>
			<span class="btn-nextpage">next</span>
		</div>
	</div>
</div>

{% comment %}<div class="hr"><div class="in"><hr></div></div>{% endcomment %}

<div class="article-list article-list-table"><div class="in">
	{% comment %}<div class="item-title">
		<h1>Data Center</h1>
		<!--div class="item-title-select">
			<div class="item-input"><select name="" id="">
				<option value="">Type</option>
				<option value="">Type</option>
				<option value="">Type</option>
				<option value="">Type</option>
				<option value="">Type</option>
			</select></div>
		</div-->
	</div>{% endcomment %}
	<div class="item-list"><ul class="article-list-content-table">
		{% for post in sortedlearning %}
			<li><a href="{{ post.url }}" class="item-li">
				<div class="item-li-company">
					<div class="item-company"><img src="/img/logo-netflix.png" alt=""></div>
					<h2>{{ post.title }}</h2>
				</div>
				<div class="item-li-foot"><strong>
					{% if post.url contains '/customer-stories/' %}customer stories
					{% elsif post.url contains '/whitepapers/' %}whitepapers
					{% elsif post.url contains '/events/' %}events
					{% elsif post.url contains '/webinars/' %}webinars{% endif %}
				</strong></div>
			</a></li>
		{% endfor %}
	</ul></div>
</div></div>
{% include foot.html %}