{% include head.html %}
<article class="section-header"><div class="in">
	<i class="ico-cubes ico-cubes-left"></i>
	<i class="ico-cubes ico-cubes-right"></i>
	<i class="ico-cubes ico-cubes-bottom"></i>
	<i class="ico-cubes ico-cubes-top"></i>
	<i class="ico-cubes ico-cubes-center"></i>
	<div class="section-desc">
		<p class="p-perex p-perex-dark">{{ page.subtitle }}</p>
		<h1 class="h1-head h1-white">{{ page.title }}</h1>
	</div>
</div></article>

<article class="article-detail-content">
	{{ content }}
</article>
{% include foot.html %}